.app {
  padding:0;
  margin:0;
}

.adobo-background{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.header-container {
  background-color: black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.gabinas-logo {
  padding: 10px 30px;
  width: 250px;
  height: 120px;
}

.login-area {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.welcome {
  color: white;
  font-style: italic;
  margin-right: 100px;
}

.username-box {
  margin-right: 10px;
  height:3vh;
  width:15vw;
}

.password-box {
  margin-right: 10px;
  width:15vw;
  height:3vh;
}

.auth-button {
  height:3.5vh;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(194, 23, 23);
  padding: 10px;
  box-sizing: border-box;

}

.nav-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.register-box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  position: absolute;
  right: 5%;
  top: 40%;
  align-items: center;
  line-height: 25px;
  background-color: rgba(212, 11, 11, 0.76);
  border-style: groove;
  border-color: rgb(255, 254, 254);
  line-height: 35px;
}

.input-box {
  width: 15vw;
  height: 3vh;
}

.auth-button {
  width: 10vw;
  margin-top: 30px;
}

.menu-container {
  top:26%;
  width: 100vw;
  height: 82vh;
  background-image: url("https://st2.depositphotos.com/4546947/11425/i/950/depositphotos_114250902-stock-photo-abaca-rope-by-the-philippine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu-list {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 25vw;
  height: 70vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 20px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-weight: bolder;
  font-size: 25px;
  font-family: cursive;
  text-shadow: .5px .1px rgb(155, 155, 155);
  cursor: pointer;
}

.product-name:hover {
  color: azure;
}

.add-button {
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
}

.item-details {
  position: absolute;
  top: 0%;
  left: 120%;
  width: 30vw;
  height: 66vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.food-image {
  height: 25vh;
  width: 25vw;
  border: none;
}

.cart-box {
  position: absolute;
  top: 0%;
  left: 266%;
  width: 25vw;
  height: 70vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  padding-left: 20px;
}

.cart-details {
  display: table-row-group;
  align-items: center;
  font-weight: bold;
  margin: 12px;
  box-sizing: border-box;
}

.item-delete {
  width: 20px;
  height: 20px;
  padding: 2px;
  font-weight: bolder;
}

