.app {
  padding:0;
  margin:0;
}

.adobo-background{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.header-container {
  background-color: black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.gabinas-logo {
  padding: 10px 30px;
  width: 250px;
  height: 120px;
}

.login-area {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.welcome {
  color: white;
  font-style: italic;
  margin-right: 100px;
}

.username-box {
  margin-right: 10px;
  height:3vh;
  width:15vw;
}

.password-box {
  margin-right: 10px;
  width:15vw;
  height:3vh;
}

.auth-button {
  height:3.5vh;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(194, 23, 23);
  padding: 10px;
  box-sizing: border-box;

}

.nav-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.register-box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  position: absolute;
  right: 5%;
  top: 40%;
  align-items: center;
  line-height: 25px;
  background-color: rgba(212, 11, 11, 0.76);
  border-style: groove;
  border-color: rgb(255, 254, 254);
  line-height: 35px;
}

.input-box {
  width: 15vw;
  height: 3vh;
}

.auth-button {
  width: 10vw;
  margin-top: 30px;
}

.menu-container {
  top:26%;
  width: 100vw;
  height: 85vh;
  background-image: url("https://st2.depositphotos.com/4546947/11425/i/950/depositphotos_114250902-stock-photo-abaca-rope-by-the-philippine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.profile-container {
  top:26%;
  width: 100vw;
  height: 83vh;
  background-image: url("https://st2.depositphotos.com/4546947/11425/i/950/depositphotos_114250902-stock-photo-abaca-rope-by-the-philippine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.post-box{
  position: absolute;
  top: 15%;
  left:35%;
  width: 25vw;
  height: 60vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-list {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 25vw;
  height: 72vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 20px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-weight: bolder;
  font-size: 25px;
  font-family: cursive;
  text-shadow: .5px .1px rgb(155, 155, 155);
  cursor: pointer;
}

.product-name:hover {
  color: azure;
}

.add-button {
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
}

.item-details {
  position: absolute;
  top: 0%;
  left: 120%;
  width: 30vw;
  height: 68vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.item-details2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.food-image {
  height: 25vh;
  width: 25vw;
  border: none;
}

.cart-box {
  position: absolute;
  top: 0%;
  left: 260%;
  width: 26vw;
  height: 50vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  padding-right: 20px;
  line-height: 15px;
  box-sizing: border-box;
}

.cart-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  justify-content: center;
}

.item-name {
  width: 20%;
  padding-right: 4%;
  font-size: 15px;
}

.item {
  width: 8%;
  padding-right: 5%;
}

.cart-total {
  position: absolute;
  top: 91%;
  left: 260%;
  width: 26vw;
  height: 4vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.cart-buttons {
  position: absolute;
  top: 80%;
  left: 260%;
  width: 26vw;
  height: 7vh;
  background-color: rgba(200, 25, 25, 0.822);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 3px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}


.order-history {
  width: 40vw;
  height: 10vh;
  background-color: rgba(200, 25, 25, 0.822);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 30%;
  top: 18vw;
  box-sizing: border-box;
}

.confirm-button{
  position: absolute;
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
  top: 73%;
  left: 260%;
  width: 26vw;
  background-color: red;
  color: white;
  padding: 5px;
}

.gabinas-food-image {

  width: 30vw;
  height: 70vh;
  border-style: solid;
  box-sizing: border-box;
  margin: 4vw;
}

.gabinas-schedule {
  position: absolute;
  top: 10%;
  left: 40%;
  height: 57vh;
  width: 40vw;
  background-color: rgba(212, 11, 11, 0.76);
  border-style: groove;
  border-color: black;
  color: white;
  padding: 3%

}